
.cart {
    height: 40px!important;
    width: 40px!important;
    position: relative;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;    
}

.cart_icon {        
    width: 33px !important;    
    height: 33px !important;    
}

.cart_cant {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    padding: 3px;
    font-size: 1rem;    
    border-radius: 50%;
    height: 20px;
    width: 20px;    
    display: grid;
    place-items: center;
}

