

.cart_cant {
    display: flex;
    justify-content: center;    
    align-items: center;
    position: relative;    
}

.cart_icon {
    width: 32px !important;
    height: 32px !important;
}

.cart_icon_p {        
    font-weight: bold;
    color: red;
    margin-bottom: 0;
    color: white;
}