

.compras_container {
    width: 90%;
    margin: 15px auto;
    min-height: calc(100vh - 135px);    
    font-family: 'Alata', sans-serif;
}

.compras_container h2 {
    font-size: 2rem;
}

.compras_filtros {
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 10px 50px;
}

.compras_filtros_select {
    display: flex;
    align-items: center;
}

.compras_filtros_select h3 {
    margin-right: 15px;
}

.compras_filtros_select select {        
    font-size: 1.2rem;
    font-family: 'Alata', sans-serif;    
}

.compras_filtros_input {    
    border: 1px solid gray;
    display: flex;
    align-items: center;
    width: 600px;
    background-color: white;
    padding: 0 15px;
    border-radius: 7px;
}

.compras_filtros_input input {
    width: 100%;
    border: none;
    font-size: 1.2rem;
    font-family: 'Alata', sans-serif;
    padding: 8px 0;
    outline: none;
}

.compras_search_icon {
    margin-left: 15px;    
    height: 27px!important;
    width: 27px!important;
    color: #030C40;
}

.compras_search_icon:hover {        
    cursor: pointer;
}