
.home_container {
    width: 100%;    
    position: "relative";
}

.home_title {
    width: 90%;
    margin: 0 auto;
}

.home_title h2 {
    text-align: center;
    margin: 0;
    font-size: 1.15rem;
    margin: 10px 0;
    font-weight: bold;
}

.home_title p {
    text-align: justify;
    font-size: 1rem;    
}

.home_caracteristicas {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_car_detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.459);
    border-radius: 10px;
    padding: 10px 15px;
    -webkit-box-shadow: 5px 3px 9px -4px #000000; 
    box-shadow: 5px 3px 9px -4px #000000;
}

.home_car_detail_icon {
    height: 50px!important;
    width: 50px!important;
    color: #030C40!important;
}

.home_car_detail p {
    text-align: justify;
}

.home_boton {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.home_redes {
    width: 90%;
    margin: 15px auto;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .home_title h2 {  
        margin: 20px 0;      
        font-size: 1.45rem;        
    }
    
    .home_title p {
        text-align: justify;
        font-size: 1.15rem;    
    }    
    .home_caracteristicas{
        flex-direction: row;
        gap: 20px;
    } 
    .home_car_detail {
        height: 300px;
        align-items: center;
        justify-content: space-between;
    }
    .home_boton button {
        width: 75%;
    }
}

@media only screen and (min-width: 992px) {
    .home_caracteristicas{
        flex-direction: row;
        gap: 30px;
    }    
    .home_title h2 {        
        margin-top: 25px;
        font-size: 1.7rem;                
    }
    .home_title p {
        margin: 30px 0;
        font-size: 1.2rem;    
    }  
    .home_car_detail h4 {
        font-weight: bold;
    }
    .home_car_detail p {
        text-align: center;
        font-size: 1.1rem;
    }
    .home_car_detail {
        height: 250px;        
    }
    .home_boton button {
        width: 35%;
    }
}