
.cartContainer_title{
    display: flex;
    align-items: center;    
    margin-bottom: 22px;
}

.cartContainer_title h2 {
    font-size: 2rem;    
    color: #030C40;    
    margin-right: 40px;
}

.cartContainer_title h4 {        
    color: #030C40;
    font-size: 1.1rem;
    text-decoration: underline;
}


.cartDetail_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;    
    width: 100%;    
}

.cartDetail_container_left {
    width: 65%;
}

.cartDetail_container_right {
    background-color: white;    
    width: 33%;
    height: 70vh;
    border: 1px solid #030C40;
    border-radius: 10px;
}

.cartDetail_container_right h2{
    text-align: center;
}