
.formCompra_titulo {
    font-size: 2rem;
    font-family: 'Anek Latin', sans-serif!important;
}


.compra_loading {
    height: 20px!important;
    width: 20px!important;
    margin: 0 auto;
    color: white!important;
}

.alerta_ok {
    height: 100px!important;
    padding: 10px!important;   
    text-align: center!important;; 
}

.alerta_ok span {
    text-align: center;
    font-size: 1.7rem!important;
}

.btn_oculto{
    display: none;
}
