
.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #030C40;   
    padding: .5rem 4rem;
}

.nav__logo {
    display: flex;
    align-items: center;    
}

.nav__logo img {
    width: 50px;
    object-fit: contain;
    margin-right: 15px;
}

.nav__logo h3 {
    color: white;
    font-size: 1.4rem;
    letter-spacing: 2px;    
}

.nav__items {
    display: flex;
    align-items: center;
    justify-content: space-around;    
    color: white;    
}

.menu_icon {
    display: none !important;
    color: white;
    width: 50px;
    cursor: pointer;    
}

.li_item {
    text-decoration: none;
    color: white; 
    font-size: 1.1rem;              
    cursor: pointer;    
    margin-right: 25px;
}

.li_item::after{
    content: "";
    display:block;    
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transition: all 250ms ease-in;        
}

.li_item:hover::after{
    transform: scaleX(1);
}

.active {
    font-size: 20px;
}

@media only screen and (max-width: 428px) {
    .nav__wrapper {        
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 811px) {
    .nav__logo img{
        display: none;
    }

    .nav__items {
        display: none;
    }
    .menu_icon {
        display: block !important;
    }

    .nav__items {
        position: absolute;
        top: 10vh;        
        right: -850px;
        display: block;
        background-color: rgb(28, 28, 119);  
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        transition: all 400ms ease;
    }

    .nav__items.active {
        right: 0;
    }
}