
.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background-color: rgb(28, 28, 119);    
    padding: 0 20px;
}

.nav__logo img {
    width: 50px;
    object-fit: contain;
}

.nav__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    color: white;    
}

.menu_icon {
    display: none !important;
    color: white;
    width: 50px;
    cursor: pointer;    
}

.active {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .nav__items {
        display: none;
    }
    .menu_icon {
        display: block !important;
    }

    .nav__items {
        position: absolute;
        top: 8vh;        
        right: -700px;
        display: block;
        background-color: rgb(28, 28, 119);  
        width: 50%;
        height: 92vh;
        display: flex;
        flex-direction: column;
        transition: all 400ms ease;
    }

    .nav__items.active {
        right: 0;
    }
}