
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #030C40;    
    padding: 10px 0;  
    color: white;    
    height: 13vh;
}

.footer__left h3 { 
    margin: 0;
    font-size: 1rem;
    letter-spacing: 1.2px;
}

.footer_right h4 {
    margin: 0 10px;
    font-size: 1rem;    
}

.footer__icon {
    width: 30px !important;
    height: 30px !important;
}


.footer_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .footer {
        height: 7vh;
        flex-direction: row;
    }
    .footer__left h3 {      
        font-size: 1.2rem;     
    }

    .footer_right h4 {
        margin: 0 10px;
        font-size: 1.2rem;    
    }
}
    



