
.cartContainer {
    width: 90%;
    margin: 15px auto;
    min-height: calc(100vh - 135px);    
}

.cartContainer_title{
    display: flex;
    align-items: center;    
}

.cartContainer_title h2 {
    font-size: 2rem;
    font-family: 'Alata', sans-serif;
    color: #030C40;
    margin-bottom: 15px;
    margin-right: 40px;
}

.cartContainer_title h4 {    
    font-family: 'Alata', sans-serif;        
    color: #030C40;
    font-size: 1.1rem;
    text-decoration: underline;
}

.cartDetail_container {
    margin-bottom: 10px;    
    width: 70%;    
}