@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Anek+Latin:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.App {
    width: 100%;
    font-family: 'Montserrat', sans-serif;    
    background-color: #F9F9F9;
}

li {
    list-style-type: none;
}

.mr {
    margin-right: 10px;
}

/*
font-family: 'Special Elite', cursive;
font-family: 'Alata', sans-serif;
font-family: 'Anek Latin', sans-serif;
*/