@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.App {
    width: 100%;
    font-family: 'Montserrat', sans-serif;    
    background-color: #F9F9F9;
}

li {
    list-style-type: none;
}


/*
font-family: 'Special Elite', cursive;
*/