
.itemList {
    width: 100%;    
}

.itemList_grid {    
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto;
    gap: 25px;
    padding: 10px 5px;
}



@media only screen and (min-width: 576px) {
    .itemList_grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding: 15px 0;        
    }
}

@media only screen and (min-width: 992px) {
    .itemList_grid {    
        grid-template-columns: repeat(4, minmax(0, 1fr));
        padding: 18px 11px;  
    }
}

@media only screen and (min-width: 1200px) {
    .itemList_grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
        padding: 18px 15px;        
    }
}